#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
# cdrom
# Use graphical install
# graphical

# Use cmd
cmdline

# Use Network
url --url "http://192.168.250.200/centos"

# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=enp0s3 --gateway=192.168.250.1 --ip=192.168.250.10 --nameserver=8.8.8.8 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname=todoapp.bcit.local

# Root password
rootpw --iscrypted $6$KWyrP9AoXaXywMOQ$72R5U3WNC4s/seeEMgS4k62qAsfwISX/N5Fx3jIkj7n3efZUyOQc.lRGJ70EAQu/tUYtcprIixPkxeGqTBqJE.
# System services
services --enabled="chronyd"
# System timezone
timezone America/Vancouver --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post --interpreter=/usr/bin/bash

# Pre-Configuration
yum update -y
yum upgrade -y
printf "[MongoDB]\nname=MongoDB Repository\nbaseurl=http://repo.mongodb.org/yum/redhat/\$releasever/mongodb-org/4.0/x86_64/\ngpgcheck=0\nenabled=1" > /etc/yum.repos.d/mongodb.repo
yum install -y epel-release vim git tcpdump curl net-tools bzip2
yum update -y
yum install -y wget nodejs npm mongodb-server nginx jq
systemctl enable mongod && systemctl start mongod
systemctl enable nginx && systemctl start nginx

# Adding new users
useradd -m -r admin
useradd -m -r todo-app && passwd -l todo-app
echo "P@ssw0rd" | passwd --stdin admin
usermod -aG wheel admin

mkdir /home/admin/.ssh
cd /home/admin/.ssh
wget https://acit4640.y.vu/docs/module02/resources/acit_admin_id_rsa.pub
chown -R admin /home/admin/.ssh
chgrp -R admin /home/admin/.ssh
chmod 700 /home/admin/.ssh
chmod 600 /home/admin/.ssh/*
sed -r -i 's/^(%wheel\s+ALL=\(ALL\)\s+)(ALL)$/\1NOPASSWD: ALL/' /etc/sudoers

# Firewall configuration
firewall-offline-cmd --zone=public --add-service=http
firewall-offline-cmd --zone=public --add-service=http --permanent
firewall-offline-cmd --zone=public --add-service=https
firewall-offline-cmd --zone=public --add-service=https --permanent
firewall-offline-cmd --zone=public --add-service=ssh
firewall-offline-cmd --zone=public --add-service=ssh --permanent

# Disable SELinux
setenforce 0
sed -r -i 's/SELINUX=(enforcing|disabled)/SELINUX=permissive/' /etc/selinux/config

# Application Setup
su todo-app -c "mkdir ~/app"
cd /home/todo-app/app
su todo-app -c "git clone https://github.com/timoguic/ACIT4640-todo-app.git ."
su todo-app -c "npm install"
echo "module.exports = {localUrl: 'mongodb://localhost/acit4640'};" > /home/todo-app/app/config/database.js
    
chmod o+rx /home/todo-app/
chmod o+rx /home/todo-app/app/
    
# Production application setup
sed -i 's#/usr/share/nginx/html#/home/todo-app/app/public#' /etc/nginx/nginx.conf 
sed -i "s#^[^#]*location / {#\tlocation / { \n\t    index index.html;#" /etc/nginx/nginx.conf
sed -i "s#^[^#]*error_page 404#\tlocation /api/todos { proxy_pass http://localhost:8080; }\n\n\terror_page 404#" /etc/nginx/nginx.conf
systemctl restart nginx

# Running NodeJS as a daemon with systemd
printf "[Unit]\nDescription=Todo app, ACIT4640\nAfter=network.target\n\n[Service]\nEnvironment=NODE_PORT=8080\nWorkingDirectory=/home/todo-app/app\nType=simple\nUser=todo-app\nExecStart=/usr/bin/node /home/todo-app/app/server.js\nRestart=always\n\n[Install]\nWantedBy=multi-user.target" > /lib/systemd/system/todoapp.service

# Restart and start demon/services
systemctl daemon-reload
systemctl enable todoapp
systemctl start todoapp

%end

reboot